<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/dbein.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Doina Bein</a></h1>
            <p>Associate Professor</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/teaching">Teaching</a></li>
                <li><a href="{{ site.baseurl }}/research_publications">Research & Publications</a></li>
                <li><a href="{{ site.baseurl }}/service">Service</a></li>
                <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="http://www.linkedin.com/in/dbein" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/dbein" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>
