---
layout: post

include_for_gallery_page_only: |
  <script type='text/javascript' src='/components/unitegallery/js/jquery-11.0.min.js'></script>	
  <script type='text/javascript' src='/components/unitegallery/js/unitegallery.min.js'></script>	
  <script type='text/javascript' src='/components/unitegallery/themes/tiles/ug-theme-tiles.js'></script>
  <link rel='stylesheet' href='/components/unitegallery/css/unite-gallery.css' type='text/css' />
---

<div style="margin-bottom:10px">
{{ page.content }}
</div>

<section id="gallery" style="display:none;">
  {% for item in page.images %}
    {% assign parts = item | split:"::" %}
    <a href="http://unitegallery.net">
      <img alt="{% if parts[1] %}{{ parts[1] }}{% endif %}"
           src="{{ page.image_directory }}/{{ parts[0] }}"
           data-image="{{ page.image_directory }}/{{ parts[0] }}"
           data-description="{% if parts[1] %}{{ parts[1] }}{% endif %}"
           style="display:none">
    </a>
  {% endfor %}
</section>
<script type="text/javascript">

jQuery(document).ready(function(){

  jQuery("#gallery").unitegallery({
    tile_border_color:"#7a7a7a",
    tile_outline_color:"#8B8B8B",
    tile_enable_shadow:true,
    tile_shadow_color:"#8B8B8B",
    tile_overlay_opacity:0.3,
    //tile_show_link_icon:true,
    tile_image_effect_type:"sepia",
    tile_image_effect_reverse:true,
    tile_enable_textpanel:true,
    lightbox_textpanel_title_color:"e5e5e5",
    tiles_col_width:320,
    tiles_space_between_cols:20				
  });

});
</script>
